.header {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  margin: 0 auto;
  gap: 20px;
  width: fit-content;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.active {
  border-color: lightblue;
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .title {
    font-size: 12px;
  }
}