.search_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}
.input {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 1.5;
  background-color: transparent;
  min-width: 500px;
}
.suggestion_text {
  margin-bottom: 10px;
}
.loading {
  margin-top: 12px;
}
@media screen and (max-width: 575px) {
  .input {
    min-width: 100%;;
  }
}